
.container {

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToHome {
    margin: 3rem 0 0;
}

.main {
    box-sizing: border-box;
}
.mainPageLeft{
    /* float:left; */
    width: 40%;
    height: 100%;
    position: fixed;
}

.mainPageLeft h1{
    background-color: transparent;
}

.title{
    position: relative;
    top: 20%;
    /* margin:  auto; */
    left: 20%;
}
.title h1{
    font-size: 48px;;
    text-align:center;
    padding: 0.2em;
    width: min-content;
    color: black;
    font-family:  Helvetica, sans-serif;
    border: 3px solid green;
}

.lists{
    position: absolute;
    vertical-align:middle;
    margin-top: 50px;
    left: 25%;
    position: relative;
    top: 20%;

}
.lists h2{
    width: min-content;
    font-size: 12px;
    font-family: SourceCode Pro, Helvetica;
    list-style-type: none;
    color:black;
}
.lists h2:hover{
    list-style-type: none;
    color: white;
    background-color:black;
}

.mainPageRight h3{
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: max-content;
    margin-right: 1%;
    padding: 0.2em;

    font-size: 12px;
    font-weight: bold;
    background-color: white;
    color: black;
    font-family: Helvetica, sans-serif;
    z-index: 2;
}

.mainPageRight {
    float:right;
    position: fixed;
    width: 60%;
    height: 100%;
    right: 0;
}


