
.container {
    
}

@font-face {
    font-family: "AmaticSCBold";
    src: url("/fonts/AmaticSC-Bold.ttf");
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToHome  {
    margin: 3rem 0 0;
    background-color:black;
    bottom: 0;
    padding: 0.2em;
    position: fixed;
}
.backToHome a {
    color: white;
}

.main {
    box-sizing: border-box;
}
.mainPageLeft{
    /* float:left; */
    width: 40%;
    height: 100%;
    position: fixed;
    background-color: #172815;
}

.mainPageLeft h1{
    background-color: transparent;
}

.title{
    position: relative;
    top: 20%;
    /* margin:  auto; */
    left: 15%;
}
.title h1{
    font-size: 5em;
    text-align:center;
    /* padding: 0.2em; */
    width: min-content;
    color: #82a565;
    font-family: AmaticSCBold, sans-serif;
    /* border: 3px solid #6E3C3B; */
}

.lists{
    position: absolute;
    vertical-align: middle;
    margin-top: 50px;
    left: 25%;
    position: relative;
    top: 15%;

}
.lists a{
    width: min-content;
    line-height: 3;
    font-size: 14px;
    font-family: San Francisco, Helvetica;
    list-style-type: none;
    color:white;
}
.lists a:hover{
    list-style-type: none;
    color: black;
    background-color:white;
}

.mainPageRight h3{
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: max-content;
    margin-right: 1%;
    padding: 0.2em;

    font-size: 12px;
    font-weight: bold;
    background-color: white;
    color: black;
    font-family: Helvetica, sans-serif;
    z-index: 2;
}

.mainPageRight {
    float:right;
    position: fixed;
    width: 60%;
    height: 100%;
    right: 0;
}


