.container {

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToHome {
    margin: 3rem 0 0;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    position: absolute;

}
.mainPageLeft{
    float:left;
    width: 40%;
    height: 100%;
    position: relative;
}

.mainPageLeft h1{
    background-color: transparent;
}

.title{
    position: absolute;
    top: 20%;
}
.title h1{
    font-size: 36px;;
    margin-top:10%;
    margin-left:10%;
    margin-bottom: 50;
    text-align:center;
    width: min-content;
    height: 10%;
    color: black;
    font-family:  Helvetica, sans-serif;
    border: 3px solid green;
}

.lists{
    position: absolute;
    vertical-align:middle;
    margin-top: 50px;
    margin-left:10%;
    position: relative;
    top:30%;
    text-align:center;
    width: min-content;
    font-weight: normal;
    white-space:nowrap;
}
.lists h2{
    width: min-content;
    font-size: 12px;
    font-family: SourceCode Pro, Helvetica;
    list-style-type: none;
    color:black;
}
.lists h2:hover{
    list-style-type: none;
    color: white;
    background-color:black;
}

.mainPageLeft h3{
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    margin-right: 1%;

    font-size: 12px;
    font-weight: bold;
    background-color: white;
    color: black;
    font-family: Helvetica, sans-serif;
}



.mainPageRight {
    float:right;
    position: relative;
    width: 60%;
    height: 100%;
}
